version: 2.1

orbs:
  docker-rpmbuild: aursu/rpmbuild@1.1.13

workflows:
  libtom:
    jobs:
      - docker-rpmbuild/rpmbuild:
          name: centos7tommath
          base_file: docker-compose.yml
          base_service: centos7tommath
          build_service: centos7tommath
          bintray_uploader: centos7bintray
          context: rpmbuild
      - docker-rpmbuild/rpmbuild:
          name: centos7tomcrypt
          base_file: docker-compose.yml
          base_service: centos7tomcrypt
          build_service: centos7tomcrypt
          bintray_uploader: centos7bintray
          context: rpmbuild
          requires:
            - centos7tommath
