version: 2.1

orbs:
  docker-rpmbuild: aursu/rpmbuild@1.0.0

workflows:
  libtom:
    jobs:
      - docker-rpmbuild/rpmbuild:
          name: centos7tommath
          base_file: docker-compose.yml
          base_service: centos7tommath
          build_service: centos7tommath
          bintray_uploader: centos7bintray
      - docker-rpmbuild/rpmbuild:
          name: centos7tomcrypt
          base_file: docker-compose.yml
          base_service: centos7tomcrypt
          build_service: centos7tomcrypt
          bintray_uploader: centos7bintray
          requires:
            - centos7tommath
      - docker-rpmbuild/rpmbuild:
          name: centos6tommath
          base_file: docker-compose.yml
          base_service: centos6tommath
          build_service: centos6tommath
          bintray_uploader: centos6bintray
      - docker-rpmbuild/rpmbuild:
          name: centos6tomcrypt
          base_file: docker-compose.yml
          base_service: centos6tomcrypt
          build_service: centos6tomcrypt
          bintray_uploader: centos6bintray
          requires:
            - centos6tommath
